*
!*/
!Makefile
!README.md
!.gitignore
!.clang-format
!LICENSE
!src/
!/src/**/*.cpp
!/src/**/*.py
!/src/**/*.sh
!/src/**/*.bat
!/latex/images/**
!/latex/fonts/**
!/latex/pdf/*.pdf
!/latex/main.tex
!/.github/**